.val{
  position: fixed;
  top: 10px;
  right: 10px;
  border-radius: 100px;
  display: block;
  width: 32px;
  height: 32px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}

body{
  -webkit-transition:1s all;
  -o-transition:1s all;
  -moz-transition:1s all;
  -ms-transition:1s all;
  transition:1s all;

  font-size: 16px;
  line-height: 1.5;
  font-family: serif;
}


.dark{
  background-color: #1f1f1f;
  color: #666;
}
.dark .val{
  background-color: #fafafa;
  color: #1f1f1f;

}

.lite{
  background-color: #fafafa;
  color: #1f1f1f;
}

.lite .val{
  background-color: #1f1f1f;
  color: #666;

}

article{
  width: 100%;
  max-width: 40em;
  margin: 2em auto;
}

.intro-img{
  max-width: 100%;
  height: auto;
}